<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>librtmp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>libx264.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>screen_streamer_xcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30B26AF11565987B002A26CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30B26D08156598F6002A26CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30B26F2815659ADD002A26CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30B26F2C15659AE8002A26CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
